name: Give Strava Kudos

on:
  schedule:
    - cron: "30 1-23/5 * * *"
  workflow_dispatch:

jobs:
  run-kudos-cron:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: set lower case owner name
        run: |
          echo "OWNER_LC=${OWNER,,}" >>${GITHUB_ENV}
        env:
          OWNER: '${{ github.repository_owner }}'

      - name: run container
        run: |
          docker run --cpus 1 -e STRAVA_EMAIL=${{ secrets.STRAVA_EMAIL }} -e STRAVA_PASSWORD="'${{ secrets.STRAVA_PASSWORD }}'" ghcr.io/${{ env.OWNER_LC }}/strava-kudos:latest
